<!DOCTYPE html>
<html>
<body>
  <p>Você solicitou a exclusão de uma turma.</p>
  <p>Clique no link abaixo para confirmar a exclusão (expira em 1 hora):</p>
  <a href="<%= confirmUrl %>">Confirmar exclusão</a>
</body>
</html>
