<form action="/disciplinas" method="POST">
  <label>Nome:</label><input name="nome" required><br>
  <label>Sigla:</label><input name="sigla"><br>
  <label>Código:</label><input name="codigo"><br>
  <label>Período:</label><input type="number" name="periodo" min="1" value="1"><br>
  <button type="submit">Salvar</button>
</form>
