<%- include('../partials/header') %>

<main class="login-container">
  <h2>Login - NotaDez</h2>

  <% if (error) { %>
    <div class="error"><%= error %></div>
  <% } %>

  <form action="/auth/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Entrar</button>
  </form>

  <div class="link">
    <p>Não possui conta? <a href="/auth/registro">Crie uma aqui</a></p>
  </div>
</main>

<%- include('../partials/footer') %>

